<ion-view title="Controle PCP" id="page9">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 76px;"></div>
        <div>
            <img src="img/i2PGL0hSTaaJrTHOgzUT_Controle-logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="login" id="controlePCP-button4" class="button button-stable  button-block">Login</a>
        <a ui-sref="signup" id="controlePCP-button5" class="button button-stable  button-block">Sign In</a>
    </ion-content>
</ion-view>