<ion-view title="Produto XX" id="page16">
    <ion-content padding="true" class="has-header">
        <form id="produtoXX-form5" class="list">
            <label class="item item-input" id="produtoXX-input11">
                <span class="input-label">Produto</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="produtoXX-input12">
                <span class="input-label">UM</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="produtoXX-input13">
                <span class="input-label">Preço</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="produtoXX-input14">
                <span class="input-label">Quantidade</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input" id="produtoXX-textarea1">
                <span class="input-label">Descrição</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-select" id="produtoXX-select1">
                <span class="input-label">Categoria</span>
                <select></select>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 61px;"></div>
        <div id="produtoXX-button-bar1" class="button-bar">
            <a ui-sref="tabsController.produtos" id="produtoXX-button9" class="button button-positive  button-block">Salvar</a>
            <a ui-sref="tabsController.produtos" id="produtoXX-button10" class="button button-assertive  button-block">Excluir</a>
        </div>
    </ion-content>
</ion-view>