<ion-view title="Produtos" id="page14">
    <ion-content padding="true" class="has-header">
        <ion-list id="produtos-list6">
            <ion-item id="produtos-list-item1" ui-sref="produtoXX">Produto 1</ion-item>
            <ion-item id="produtos-list-item2" ui-sref="produtoXX">Produto 2</ion-item>
            <ion-item id="produtos-list-item3" ui-sref="produtoXX">Produto 3</ion-item>
            <ion-item id="produtos-list-item4" ui-sref="produtoXX">Produto 4</ion-item>
        </ion-list>
    </ion-content>
</ion-view>